In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/hours_report.csv')

In [3]:
df.head()

,Entry Year,Entry Month,Billable,G&A,Marketing & NBD,Overhead,R&D,Time Off,Total,DT,Strategy Year,Semester,MEH,Utilization,Util to Date,FTE,FTE to Date,User Name
0,2019,Apr,18.5,103.75,0.0,27.00,0.00,0.0,149.25,2019-04-01,2019-2020,Sem 1,136,0.136029,0.136029,1.097426,1.097426,"Abragan, Maria Celes"
1,2019,May,31.7,159.65,0.0,15.50,1.50,8.0,216.35,2019-05-01,2019-2020,Sem 1,184,0.172283,0.172283,1.175815,1.175815,"Abragan, Maria Celes"
2,2019,Jun,23.8,96.40,0.0,38.95,24.15,0.0,183.30,2019-06-01,2019-2020,Sem 1,160,0.148750,0.148750,1.145625,1.145625,"Abragan, Maria Celes"
3,2019,Jul,43.2,127.50,0.0,16.50,4.00,8.0,199.20,2019-07-01,2019-2020,Sem 1,184,0.234783,0.234783,1.082609,1.082609,"Abragan, Maria Celes"
4,2019,Aug,37.0,101.25,0.0,46.80,4.00,4.0,193.05,2019-08-01,2019-2020,Sem 1,176,0.210227,0.210227,1.096875,1.096875,"Abragan, Maria Celes"